-var image__logo="https://raw.githubusercontent.com/platzi/bootstrap/gh-pages/assets/images/platzi-logo.png"
-var hawaii__1="https://raw.githubusercontent.com/platzi/bootstrap/gh-pages/assets/images/hawaii.jpg"
-var hawaii__2="https://raw.githubusercontent.com/platzi/bootstrap/gh-pages/assets/images/hawaii2.jpg" 
-var hawaii__3="https://raw.githubusercontent.com/platzi/bootstrap/gh-pages/assets/images/hawaii3.jpeg"
-var honolulu = "https://raw.githubusercontent.com/platzi/bootstrap/gh-pages/assets/images/honolulu.jpg"

include components/speaker.pug

html(lang='')
  include components/head.pug
  body(data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-root-margin="-57px" data-bs-smooth-scroll="true")
    include components/header.pug
    include components/main.pug
    include components/speakers.pug
    include components/informacion.pug
    include components/formulario.pug
    include components/modal.pug
    include components/footer.pug
  include components/scripts.pug
 

