<!-- Header -->
nav#header.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href="#")
          img.me-2(src=image__logo alt="Platzi Logo") 
          |Conf Hawaii
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar-example" aria-bs-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbar-example.collapse.navbar-collapse
          ul.navbar-nav.ms-auto 
            li.nav-item 
              a(href="#main").nav-link La conferencia
            li.nav-item 
              a(href="#speakers").nav-link Los oradores
            li.nav-item 
              a(href="#place-time").nav-link El lugar y la fecha
            li.nav-item 
              a(href="#form-orador").nav-link Conviértete en orador
            li.nav-item 
              a(href="#" data-bs-toggle="modal" data-bs-target="#ticketmodal").nav-link.text-platzi Comprar tickets
<!-- Header -->