<!-- Speakers -->
-var card__text ="Vivamus quam mi, egestas eu metus id, mollis suscipit ipsum. In vel mollis mauris. Nunc id sem a lacus tincidunt pretium in in urna. Nam mi nisi, tincidunt ac tincidunt id, fermentum at metus."
-var base_path__img = "https://raw.githubusercontent.com/platzi/bootstrap/gh-pages/assets/speakers"
-var speakers = [[base_path__img+"/sacha.jpg","JavaScript","React","Sacha Lifszyc",card__text], [base_path__img+"/leonidas2.jpeg","JavaScript","React","Leonidas Esteban",card__text],  [base_path__img+"/freddy.jpeg","Negocios","Startups","Freddy Vega",card_text],  [base_path__img+"/cvander.jpeg","Negocios","Startups","Christian  Var Der H",card_text]]

section#speakers.mt-4
  .container 
    .row
      .col.text-center.text-uppercase 
        small Conoce a los 
          h2 Oradores 
    .row 
      each speaker,index  in speakers
        +speaker__card( speakers[index][0], speakers[index][1], speakers[index][2], speakers[index][3],card__text)
<!-- /Speakers -->


